{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["server/**/*.js", "server/**/*.ts"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": [
        "client/**/*.js",
        "client/**/*.jsx",
        "client/**/*.tsx",
        "client/**/*.html"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
